---
layout: home
background: '/img/bg-index.jpg'
---
<div class="container">
Welcome to PvPqnda's website! Here, you can find all the information you need about my maps, and how to play them!<br>
Recent Updates:
<a href="/maps/underwater-mob-arena" target="_blank"style="text-decoration: underline;">Underwater Mob Arena<a> - <a href="/maps/arrow-fight" target="_blank"style="text-decoration: underline;">Arrow Fight<a> - <a href="/maps/400-levels" target="_blank"style="text-decoration: underline;">400 Levels<a><br>
Newest Post:
<a href="/datapacks/muted-mobs" target="_blank"style="text-decoration: underline;">Muted Mobs<a>
<hr>
</div>

<div class="container-fluid">
  <div class="card-deck" style="justify-content: center;">
    {% for post in site.posts %}
    <div class="card mapcard" onclick="location.href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}';">
      <img class="card-img-top" src="{{site.baseurl}}/img/{{post.permalink}}/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{post.short-description}}</p>
        <p class="post-meta"> {% if post.version %}v{{post.version}} - {% endif %}{{ post.date | date: '%B %d, %Y' }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
<div class="container">
<br>
If you are going to use one of my maps or datapacks online such as in a YouTube video or on a server, crediting me or linking the map(s) and/or datapack(s) used would be greatly appreciated.
</div>
  <!-- Pager -->
  {% if paginator.total_pages > 1 %}

  <div class="clearfix">

    {% if paginator.previous_page %}
    <a class="btn btn-primary float-left"
      href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
      Newer<span class="d-none d-md-inline"> Maps</span></a>
    {% endif %}

    {% if paginator.next_page %}
    <a class="btn btn-primary float-right"
      href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span
        class="d-none d-md-inline"> Maps</span> &rarr;</a>
    {% endif %}

  </div>

  {% endif %}
  </div>