---
layout: page
title: Datapacks
background: '/img/bg-map.jpg'
---
<div class="container-fluid">
  <div class="card-deck" style="justify-content: center;">
    {% for post in site.posts %}
    {% if post.layout == 'datapack' %}
    <div class="card mapcard" onclick="location.href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}';">
      <img class="card-img-top" src="{{site.baseurl}}/img/{{post.permalink}}/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{post.short-description}}</p>
        <p class="post-meta"> {% if post.version %}v{{post.version}} - {% endif %}{{ post.date | date: '%B %d, %Y' }}
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- Pager -->
  {% if paginator.total_pages > 1 %}

  <div class="clearfix">

    {% if paginator.previous_page %}
    <a class="btn btn-primary float-left"
      href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
      Newer<span class="d-none d-md-inline"> Maps</span></a>
    {% endif %}

    {% if paginator.next_page %}
    <a class="btn btn-primary float-right"
      href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span
        class="d-none d-md-inline"> Maps</span> &rarr;</a>
    {% endif %}

  </div>

  {% endif %}
</div>